*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-1: #C9996B;
    --color-2: #EDE9E6;
    --color-3: #5C4F4A;
    --color-4: #5C766D;
}
body{
    padding: 20vh;
    padding-top: 15vh;
}
.title{
    text-align: center;
    background-color: var(--color-3);
    border-radius: 19px;
    color: var(--color-2);
    

}
.title a{
    text-decoration: none;
    color: var(--color-2);
    border-radius: 10px;
    padding: 3px;  
}
.title h1{
    font-size: 80px;
}


.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    place-items: center;
}

.perro img,
.gato img,
.conejo img {
    width: 100%;
    height: 70%;
}

.perro,
.gato,
.conejo{
    width: 60% auto;
    height: 70%;




}
h2,
p{
    background-color: var(--color-4);
    border-radius: 22px;
    padding: 12px;
    height: 69px;
    color: var(--color-2);
}
