.todo{
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical, opcional */
    min-height: 100vh; /* Para centrado vertical en toda la página */
    margin: 0;

}







.title {
    color: rgb(255, 255, 255);
    background-color: #333;
    border-radius: 12px;
    padding: 5px;
    margin: 2px; 
    /*border: 2px solid black;*/
    

}
.cuerpo{
    background-color: #d8d8d8;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
    border-radius: 12px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links section {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav-links section a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links section:hover {
    -webkit-text-stroke: 0.5px rgba(127, 126, 223, 0.842);
}