*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-1: #C9996B;
    --color-2: #EDE9E6;
    --color-3: #5C4F4A;
    --color-4: #5C766D;
}

.title{
    display: flex;
    justify-content: center;
    justify-content:space-between;
    text-align: center;
    background-color: var(--color-3);
    color: var(--color-2);
    padding: 12px;
}
.title h1{
        text-shadow: 2px 12px 6px #000000;
}
.title a{
    text-decoration: none;
    color: var(--color-2);
    border-radius: 10px;
    padding: 3px;  
}


.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 60px;
}
.gato{
    flex: 1;
    box-shadow: 12px 12px 3px #b3c1bc;
    padding: 12px;
    max-width: 300px;
    min-width: 220px;
    border-radius: 12px;
}
.perro{
    flex: 1;
    box-shadow: 12px 12px 3px #9ba6a2;
    padding: 12px;
    max-width: 300px;
    min-width: 220px;
    border-radius: 12px;
}

.conejo{
    flex: 1;
    box-shadow: 12px 12px 3px #a0ada8;
    padding: 12px;
    max-width: 300px;
    min-width: 220px;
    border-radius: 12px;
}
img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}

/*Estilo pie de pagina*/
footer {
    background-color: var(--color-3);
    color: var(--color-2);
    text-align: center;
    padding: 10px;
}